.header__login {
  width: 400px;
  height: 364px;
  background: #ffffff;
  margin: 0px auto;
  padding: 0 40px;
}
.header__login form {
  display: block;
  margin: 0px auto;
  width: 100%;
}
.header__login form p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 24fpx;
}
.header__login form div {
  margin: 0;
}
.header__login form div p {
  padding: 12px 0 8px 0;
  text-align: left;
}
.header__login form div label {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.header__login form div input {
  border: 2px solid #cecece;
  border-radius: 8px;
  width: 100%;
  padding: 0;
  height: 41px;
  padding-left: 10px;
}
.header__login form button {
  width: 100% !important;
  height: 48px !important;
  margin-top: 24px !important;
}
