@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v27-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/roboto-v27-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v27-latin-regular.woff') format('woff'),
    url('./fonts/roboto-v27-latin-regular.ttf') format('truetype'),
    url('./fonts/roboto-v27-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
