@import "./variables.scss";

.destination {
  padding: 0 105px;
  p {
    text-align: center;
    font-family: $FontRoboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $TextColor;
    padding-top: 120px;
    padding-bottom: 105px;
  }
  &__buttons {
    display: flex;
    padding-bottom: 65px;
    button {
      height: 64px;
      border: none;
      border-radius: 8px;
      background: $StrokeColor;
      display: inline;
      color: $TextColor;
    }
    button:nth-child(1) {
      width: 192px;
      background: #3077c6;
      color: $GeneralWhite;
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    button:nth-child(2) {
      width: 192px;
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      border-radius: 0;
    }
    button:nth-child(3) {
      width: 240px;
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      border-radius: 0 8px 8px 0;
    }
  }
  &__buttons_mobile {
    display: none;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    position: relative;
    a {
      text-decoration: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    p {
      display: flex;
      justify-content: left;
      font-family: $FontRoboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $AccentBlue;
      padding-top: 25px;
      padding-bottom: 210px;
    }
  }
  &__slider::after {
    content: url(../../images/arrow.svg);
    position: absolute;
    top: 400px;
    transform: rotate(90deg);
  }
  &__image {
    display: block;
    position: relative;
  }
  &__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(56, 56, 56, 0.4);
    opacity: 0;
  }
  &__image::before {
    content: url(../../images/book_now.svg);
    position: absolute;
    width: 16%;
    top: 40%;
    left: 28%;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
  }
  &__image:hover::after,
  &__image:hover::before {
    opacity: 1;
  }
}

@media (max-width: 859px) {
  .destination {
    padding: 0;
    p {
      text-align: center;
      font-family: $FontRoboto;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      color: $TextColor;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    &__buttons {
      display: none;
    }
    &__buttons_mobile {
      display: flex;
      padding-bottom: 24px;
      justify-content: space-evenly;
      button {
        height: 32px;
        width: 98px;
        border: 1px solid $StrokeColor;
        border-radius: 4px;
        background: $GeneralWhite;
        display: inline;
        color: $TextColor;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
      }
      button:nth-child(1) {
        background: #3077c6;
        color: $GeneralWhite;
      }
    }
    &__slider {
      justify-content: space-evenly;
      padding-bottom: 8px;
      div {
        max-width: 156px;
      }
      div:nth-child(2) {
        position: relative;
      }
      div:nth-child(2)::after {
        content: url(../../images/arrow_mobile.svg);
        position: absolute;
        top: 60px;
        left: 135px;
      }
      div:nth-child(3) {
        display: none;
      }
      div:nth-child(4) {
        display: none;
      }
      p {
        font-family: $FontRoboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
        color: $AccentBlue;
      }
    }
    &__slider::after {
      display: none;
    }
    &__image:hover::after,
    &__image:hover::before {
      display: none;
    }
  }
}
