@import "./variables.scss";

header {
  width: 100%;
  background: url(../../images/background_main.svg);
  background-size: cover;
}
.header {
  &__main {
    padding-top: 51px;
    padding-left: 104px;
    padding-right: 104px;
    height: 100vh;
    form {
      display: flex;
      label {
        color: #ffffff;
        line-height: 21px;
        font-family: $FontRoboto;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 24px;
      }
      input {
        height: 64px;
        width: 100%;
        padding-left: 24px;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #383838;
        border: 3px solid #f3f3f4;
        border-left: none;
        border-right: none;
      }
      button {
        width: 192px;
        flex-grow: 1;
        height: 64px;
        margin-top: 45px;
        color: #ffffff;
        background: #3077c6;
        border-radius: 8px;
        font-size: 24px;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 202px;
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li {
        margin-left: 25px;
        position: relative;
        a {
          font-family: $FontRoboto;
          font-weight: 400;
          font-size: 24px;
          list-style-type: none;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__search {
    margin-bottom: 120px;
  }
  &__destination {
    flex-grow: 10;
    p {
      padding-bottom: 24px;
      padding-left: 20px;
    }
    input {
      border-radius: 8px 0px 0px 8px;
      border-right: none;
    }
    input::placeholder {
      color: #383838;
    }
  }
  &__date {
    flex-grow: 0;
    display: flex;
    p {
      padding-bottom: 24px;
    }
    input {
      border-left: none;
      border-right: none;
    }
  }
  &__people {
    flex-grow: 3;
    display: flex;
    padding-top: 45px;
    input {
      border-left: none;
      border-radius: 0px 8px 8px 0px;
    }
    input::placeholder {
      color: #383838;
    }
  }
  &__stays::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #f5bd41;
    top: 38px;
    left: 0px;
  }
  &__attractions:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #f5bd41;
    top: 38px;
    left: 0px;
  }
  &__night {
    background: url(../../images/png-sprite.png);
    background-position: -5px -90px;
    width: 30px;
    height: 30px;
    margin-left: 48px;
  }
  &__account {
    background: url(../../images/png-sprite.png);
    background-position: -5px -0px;
    width: 40px;
    height: 40px;
  }
  &__account:hover {
    background: url(../../images/png-sprite.png);
    background-position: -5px -45px;
    width: 40px;
    height: 40px;
  }
  &__title {
    display: flex;
    line-height: 59px;
    font-family: $FontRoboto;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 100px;
  }
  &__in {
    p {
      text-align: right;
      padding-right: 5px;
    }
  }
  &__download {
    display: flex;
    justify-content: center;
    a {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &__mobile {
    display: none;
  }
  &__login {
    // display: block;
    width: 400px;
    height: 364px;
    background: $GeneralWhite;
    margin: 0px auto;
    padding: 0 40px;
    form {
      display: block;
      margin: 0px auto;
      width: 100%;
      p {
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 24fpx;
      }
      div {
        margin: 0;
        p {
          padding: 12px 0 8px 0;
          text-align: left;
        }
        label {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: black;
        }
        input {
          border: 2px solid #cecece;
          border-radius: 8px;
          width: 100%;
          padding: 0;
          height: 41px;
        }
      }

      button {
        width: 100%;
        height: 48px;
        margin-top: 24px;
      }
    }
  }
}
@media (max-width: 859px) {
  .header {
    &__main {
      display: none;
    }
    &__mobile {
      background: url(../../images/background_main.svg);
      background-position: center;
      display: block;
      width: 100%;
      height: 533px;
      padding: 0px 15px;
    }

    &__menu_mobile {
      display: flex;
      margin-bottom: 52px;
      padding-top: 12px;
    }

    &__logo_mobile {
      display: flex;
      img {
        width: 120px;
        height: 24px;
        display: flex;
      }
    }

    &__night_mobile {
      background: url(../../images/png-sprite.png);
      background-position: -5px -175px;
      width: 16px;
      height: 16px;
    }

    &__account_mobile {
      background: url(../../images/png-sprite.png);
      background-position: -5px -125px;
      width: 24px;
      height: 24px;
      margin-left: 16px;
    }

    &__bar_mobile {
      background: url(../../images/png-sprite.png);
      background-position: -5px -154px;
      width: 24px;
      height: 16px;
      margin-left: 16px;
    }

    &__buttons_mobile {
      display: flex;
      padding-left: 102px;
      align-items: center;
    }

    &__search_mobile {
      display: block;
    }

    &__title_mobile {
      padding-bottom: 31px;
      font-family: $FontRoboto;
      font-weight: 500;
      font-size: 30px;
      color: $GeneralWhite;
      display: block;
    }

    &__windows_mobile {
      background: $AccentYellow;
      padding: 8px;
      display: block;
      input::placeholder {
        color: $TextColor;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
      }
      button {
        margin: 0px;
        height: 48px;
        width: 100%;
        background: $AccentBlue;
        border: none;
        border-radius: 4px;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        color: $GeneralWhite;
      }
    }

    &__form_mobile {
      display: block;
      padding-bottom: 32px;
    }

    &__destination_mobile {
      display: flex;
      padding-bottom: 8px;
      label {
        position: relative;
      }
      label::before {
        position: absolute;
        content: url(../../images/search.svg);
        top: 16px;
        left: 12px;
      }
      input {
        height: 48px;
        border: none;
        border-radius: 4px;
        padding-left: 36px;
        width: 100%;
      }
    }

    &__check_mobile {
      display: flex;
    }

    &__in_mobile {
      padding-bottom: 8px;
      position: relative;
      flex: 1;
      padding-right: 8px;
      width: 50%;
      label {
        color: $TextColor;
        position: absolute;
        font-family: $FontRoboto;
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        top: 6px;
        left: 8px;
      }
      input {
        height: 48px;
        border: none;
        border-radius: 4px;
        padding: 24px 0px 0px 8px;
        font-size: 15px;
        line-height: 18px;
        width: 100%;
      }
    }

    &__out_mobile {
      position: relative;
      padding-bottom: 8px;
      flex: 1;
      width: 50%;
      label {
        color: $TextColor;
        position: absolute;
        font-family: $FontRoboto;
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        top: 6px;
        left: 8px;
      }
      input {
        height: 48px;
        border: none;
        border-radius: 4px;
        padding: 24px 0px 0px 8px;
        font-size: 15px;
        line-height: 18px;
        width: 100%;
      }
    }

    &__people_mobile {
      display: flex;
      padding-bottom: 8px;
    }

    &__aduls_mobile {
      position: relative;
      flex: 1;
      input {
        height: 48px;
        border: none;
        border-radius: 4px 0px 0px 4px;
        padding: 16px 8px 0px 8px;
        width: 100%;
      }
      label {
        color: $TextColor;
        position: absolute;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        top: 6px;
        left: 8px;
      }
    }

    &__children_mobile {
      position: relative;
      flex: 1;
      input {
        height: 48px;
        border: none;
        padding: 16px 8px 0px 8px;
        width: 100%;
      }
      label {
        position: absolute;
        color: $TextColor;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        top: 6px;
        left: 8px;
      }
    }

    &__rooms_mobile {
      position: relative;
      flex: 1;
      input {
        height: 48px;
        border: none;
        border-radius: 0px 4px 4px 0px;
        padding: 16px 8px 0px 8px;
        width: 100%;
      }
      label {
        position: absolute;
        color: $TextColor;
        font-family: $FontRoboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        top: 6px;
        left: 8px;
      }
    }

    &__download_mobile {
      padding-left: 40px;
    }
  }
}
