@import "./variables.scss";

.homes {
  padding: 0 105px;
  background: #eaf0f9;
  &__h1 {
    text-align: center;
    font-family: $FontRoboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: $TextColor;
    padding-top: 120px;
    padding-bottom: 105px;
  }
  &__slider {
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
    img {
      max-width: 100%;
      height: auto;
    }
    a {
      text-decoration: none;
    }
    div:last-child {
      position: relative;
    }
    div:last-child:after {
      content: url(../../images/arrow.svg);
      position: absolute;
      top: 125px;
      left: 270px;
    }
    p {
      font-family: $FontRoboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $AccentBlue;
      padding-top: 24px;
    }
    p:last-child {
      color: $TextSecondary;
    }
  }
}

@media (max-width: 859px) {
  .homes {
    padding: 0;
    &__h1 {
      text-align: center;
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: $TextColor;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    &__slider {
      justify-content: space-evenly;
      padding-bottom: 40px;
      div {
        max-width: 156px;
      }
      div:nth-child(2) {
        position: relative;
      }
      div:nth-child(2)::after {
        content: url(../../images/arrow_mobile.svg);
        position: absolute;
        top: 60px;
        left: 135px;
      }
      div:nth-child(3) {
        display: none;
      }
      div:nth-child(4) {
        display: none;
      }
      p {
        font-family: $FontRoboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
      }
      p:last-child {
        padding-top: 4px;
      }
    }
  }
}
