@import "./variables.scss";

.signup {
  background: $BgColor;
  position: relative;
  height: 200px;
  margin: 0 105px;
  p {
    font-family: $FontRoboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    padding-top: 51px;
    padding-bottom: 21px;
    padding-left: 134px;
  }
  button {
    border: 1px solid $AccentBlue;
    border-radius: 8px;
    background: $GeneralWhite;
    color: $AccentBlue;
    height: 48px;
    width: 128px;
    position: absolute;
    top: 100px;
    left: 134px;
  }
}
.signup::before {
  content: url(../../images/add_user.svg);
  position: absolute;
  top: 57px;
  left: 24px;
}
.signup::after {
  content: url(../../images/close.svg);
  position: absolute;
  top: 24px;
  left: 95%;
}

.signup_mobile {
  display: none;
}

@media (max-width: 859px) {
  .signup {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .signup_mobile {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p {
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $TextColor;
    }

    a:first-child {
      padding-left: 33px;
    }

    a:last-child {
      font-family: $FontRoboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $AccentBlue;
    }
  }
  .signup_mobile::before {
    content: url(../../images/close_16.svg);
    position: absolute;
    top: 45px;
    left: 17px;
  }
}
